.banner{
height: 50vh;
    background-image:url('https://media.licdn.com/dms/image/D5612AQHVuQxCMAMmkA/article-cover_image-shrink_600_2000/0/1709023232761?e=2147483647&v=beta&t=DXeQ-HgpoBvjJwYGToBFkf7YcWS_sjRqfezpvrmSuxo');
  
    background-size: cover;
}
.button:hover{
    color: black;
    background-color: #FFC412;
}
@media only screen and (max-width: 768px){
    .banner{
        height: 50vh;
        background-image:url('https://media.licdn.com/dms/image/D5612AQHVuQxCMAMmkA/article-cover_image-shrink_600_2000/0/1709023232761?e=2147483647&v=beta&t=DXeQ-HgpoBvjJwYGToBFkf7YcWS_sjRqfezpvrmSuxo');
        background-size: cover;
 }

}
.sheetus1{
   
    background-image:url('https://www.assemblymag.com/ext/resources/Issues/2015/June/appliance/asb0615appliance3.jpg');
    background-size: cover;
}

.boxbanner{
 
    width: 500px;
    
  

}
@media only screen and (max-width: 768px){
    .boxbanner{
       
        width: 300px;
        
    }
}
.boxmain{
    
  position: relative;  
}
.boxheader{
    position: absolute;
    top:50%;
    right: 43%;
    background-color: #674e06;
    width: 15%;
    height: 40px;
}
@media only screen and (max-width: 768px){
    .boxheader{
        position: absolute;
        top:5px;
        right:6px ;
        background-color: #674e06;
        width: 15%;
        height: 30px;
    }
}