.imgs{
    border-radius: 10px;
}
.imgss{
    border-radius: 10px;
}  
 
@media only screen and (max-width: 768px){
       .imgss{
        width: 300px;
        align-items: center;
    }
  
}
.link{
    text-decoration: none;
    color:#eeeeee;
}
.linevertical{
    width:0.3%; height:250px; background: #E0AA3E; 

   
}
.linehorizental{
    width:90%; height:3px; background: #E0AA3E; 
}
.each-slide-effect > div {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 350px;
    margin-top: 18px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #151414;
    opacity: 0.8;
    text-align: center;
    color: #eeeeee;
  }
  .slide{
    max-width: auto;
   
  }
  .animate{
    animation-name:free;
  }
  @keyframes free {
    from{
transform: translateX(0);
    }
   to{
    transform: translateX(-100%);

   } 
}
.box{
  clip-path: ellipse(500px 300px at 10% 20%);
 border-radius: 20px;
 margin: auto;
}