@font-face{
  font-family: 'IRANSansWeb';
  src:local('IRANSansWeb'), url('./Fonts/a83daff6a3fcaf7cf89f771c940e401f.ttf') format('truetype');
}
body {

  margin: 0;
  font-family:'IRANSansWeb';

   
}

*{
  font-family:'IRANSansWeb';
   
}

